<?php echo $this->Form->input('Ingreso.folio', array('value'=>$value ,'readonly'=>true, 'label'=>'Folio','class'=>'form-control')); ?> 


<div class='row'>
		<div class='col-sm-12' id="div-folio">
				<?php echo $this->Form->input('Ingreso.caja_id', array('readonly'=>true, 'label'=>'Caja','class'=>'form-control')); ?> 
		</div>
</div>

