<div class="container">
<div class="row">
	<div class="col-lg-12">
	 	<h3 class="page-header"><i class="fa fa-th"></i> Adjuntos</h3>
		
		<ol class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="<?php echo $this->Html->url('/Dashboards/'); ?>"> Home</a></li>	
					<li><i class="fa fa-arrow-left"></i>
					<a href="<?php echo $this->Html->url('/Adjuntos/'); ?>"> Volver a Adjuntos </a> </li>              
		</ol>		
	</div>	    
</div>

<div class="panel">
	<div class="panel-heading panel-success">
		<h4>&nbsp;
			<span class="pull-right">
				<div class="btn-group">
				  <button type="button" class="btn btn-primary">Acción</button>
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><?php echo $this->Html->link(__('Nuevo Adjunto'), array('action' => 'add')); ?></li>
				  </ul>
				</div>
			</span>
		</h4>
	</div>
	<div class="panel-body">
<div class="adjuntos index">
	<table id="Adjunto" cellpadding="0" cellspacing="0" class="table table-striped table-rounded">
	<thead>
	<tr>
			
		<!-- 	<th><?php echo h('Denominacion'); ?></th> -->
			<th><?php echo h('Paciente'); ?></th>
			<th><?php echo h('Doctor'); ?></th>
			<th><?php echo h('Fecha'); ?></th>
			<th><?php echo h('Servicio'); ?></th>
			<th><?php echo h('Adjuntar Imagen'); ?></th>

			<th class="actions"><?php echo __('Acción'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($adjuntos as $adjunto): ?>
	<tr>
	
		<!-- <td><?php echo h($adjunto['Adjunto']['denominacion']); ?>&nbsp;</td> -->
		<td>
			<?php echo ucwords(strtolower($adjunto['Cliente']['nombres'].' '.$adjunto['Cliente']['apellidos'])); ?>
		</td>
		<td>
			<?php echo ucwords(strtolower($adjunto['User']['nombre'].' '.$adjunto['User']['apellidos'])); ?>
		</td>
		<td>
			<?php echo $adjunto['Adjunto']['created']; ?>
		</td>
		<td>
			<?php echo $adjunto['Ingresotipo']['denominacion']; ?>
		</td>
		<td>
			<a class="btn btn-success" href="/Imgadjuntos/add2/<?=$adjunto['Adjunto']['id']?>">Adjuntar Img <i class="fa fa-expand" aria-hidden="true"></i>
 </a>
		</td>
		
		<td class="actions">
			<?php echo $this->Html->link(__('Ver Imagen'), array('action' => 'view2', 'controller'=>'Imgadjuntos', $adjunto['Adjunto']['id']), array('class'=>'btn btn-sm btn-default')); ?>
			<?php echo $this->Html->link(__('Editar'), array('action' => 'edit', $adjunto['Adjunto']['id']), array('class'=>'btn btn-sm btn-success')); ?>
			<?php echo $this->Form->postLink(__('Eliminar'), array('action' => 'delete', $adjunto['Adjunto']['id']), array('class'=>'btn btn-sm btn-danger'), __('Are you sure you want to delete # %s?', $adjunto['Adjunto']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
</div>
</div>
</div>
<script type="text/javascript">
    //$(document).ready(function() {
        $('#Adjunto').DataTable( {
            dom: 'Bfrtlip',          
            responsive: true,
	        buttons: [
	            {
	                extend: 'excel',
	                exportOptions: {
	                    columns: [0,1,2]
	                }
	            },
	            {
	                extend: 'pdf',
	                exportOptions: {
	                    columns: [0,1,2]
	                }
	            },
	            {
	                extend: 'copy',
	                exportOptions: {
	                    columns: [0,1,2]
	                }
	            },
	            {
	                extend: 'csv',
	                exportOptions: {
	                    columns: [0,1,2]
	                }
	            },
	            {
	                extend: 'print',
	                exportOptions: {
	                    columns: [0,1,2]
	                }
	            }



	        ],
            "language": 
            {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ".",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        } );
    //} );
</script>

<?php pr($adjuntos) ?>