<!-- File: /app/View/Posts/index.ctp  (edit links added) -->

  


<h1>Blog posts</h1>
<p><?php echo $this->Html->link("Add Post <i class='fa fa-edit'></i>", array('action' => 'add'),array('escapeTitle'=>false,'class'=>'btn btn-primary')); ?></p>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
                <th>Action</th>
        <th>Created</th>
    </tr>

<!-- Here's where we loop through our $posts array, printing out post info -->

<?php foreach ($posts as $post): ?>
    <tr>
        <td><?php echo $post['Post']['id']; ?></td>
        <td>
            <?php echo $this->Html->link($post['Post']['title'], array('action' => 'view', $post['Post']['id']));?>
                </td>
                <td>
            <?php echo $this->Form->postLink(
                'Delete',                
                array('action' => 'delete', $post['Post']['id']),
                array('class'=>'btn btn-danger','confirm' =>'Are you sure?'))?>
            <?php echo $this->Html->link('Edit', array('action' => 'edit', $post['Post']['id']),array('class'=>'btn btn-success'));?>
        </td>
        <td><?php echo $post['Post']['created']; ?></td>
    </tr>
<?php endforeach; ?>

</table>

<!-- array('class'=>'btn btn-danger','onClick' => 'confirmDelete("/cakephp/Posts/delete/'.$post['Post']['id'].'")')) -->