<div class="row">
	<div class="col-lg-12">
	 	<h3 class="page-header"><i class="fa fa-th"></i> Imagen Adjunta</h3>
		<ol class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="<?php echo $this->Html->url('/Dashboards/'); ?>"> Home</a></li>	
				<li><i class="fa fa-arrow-left"></i><?php echo $this->Html->link(__('Volver a Adjuntos'), array('action' => 'index', 'controller'=>'Adjuntos')); ?></li>             
		</ol>		
	</div>	    
</div>
<div class="panel">
<div class="panel panel-body">
<table class="table">
	<tr>
		<th>
			Imagen
		</th>

		<th>
			Accion
		</th>
	</tr>

<?

	
	foreach ($datadjuntos as $data) {
		


		echo "<tr><td><img width='385' src='/img/".$data['Imgadjunto']['ruta_imagen']."'></td>";
		echo  "<td>".$this->Form->postLink(__('Eliminar'), array('action' => 'delete', $data['Imgadjunto']['id']), array('class'=>'btn btn-sm btn-danger'), __('Esta seguro de eliminar esta imagen?', $data['Imgadjunto']['id']))."</td></tr>"; 
	}



 ?>


</table>
</div>
</div>