<div class="row"><div class="col-lg-12">		<h3 class="page-header"><i class="fa fa-th"></i>Servicio<? echo '</h3>' ?>
		
		<ol class="breadcrumb">		<li><i class="fa fa-home"></i><a href=""> Home</a></li>		<li><i class="fa fa-th"></i> Servicio </li>              
		</ol>		</div>	    </div>

<div class="row">
		     <div class="col-sm-12">
	  		   <section class="panel" style="padding: 10px;">

<div class="servicios form">
<?php echo $this->Form->create('Servicio'); ?>
	<fieldset>
		<legend><?php echo __('Edit Servicio'); ?></legend>
<div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('id', array('label'=>'id','class'=>'form-control')); ?> 
 </div></div>



 <div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('titulo', array('label'=>'titulo','class'=>'form-control')); ?> 
 </div></div><div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('denominacion', array('label'=>'denominacion','class'=>'form-control')); ?> 
 </div></div><div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('estatus', array('label'=>'estatus','class'=>'form-control')); ?> 
 </div></div>	</fieldset>

	<div class="pull-right">		
		<?php echo $this->Form->submit(__('Submit', true), array('label'=>false, 'class'=>'btn btn-primary'));?>
		<?php echo $this->Form->end(__('')); ?>
	</div>

</div>

</section>
</div>
</div>
