<div class="panel">
	<div class="panel-heading">
	<h2><?php echo __('Servicio'); ?></h2>		
	</div>
	



<div class="panel panel-body">
<h2><?php echo __('Servicio'); ?></h2>
	<table class="table table-striped">

	<tbody>

		<tr><td><?php echo __('Titulo'); ?></td>
		<td>
			<?php echo h($servicio['Servicio']['titulo']); ?>
			&nbsp;
		</td></tr>
		<tr><td><?php echo __('Denominacion'); ?></td>
		<td>
			<?php echo h($servicio['Servicio']['denominacion']); ?>
			&nbsp;
		</td></tr>
		<tr><td><?php echo __('Estatus'); ?></td>
		<td>
			<?php echo h($servicio['Servicio']['estatus']); ?>
			&nbsp;
		</td></tr>
	
	</tbody>
	</table>
</div>

</div>