<main class="center767" style="padding-right: 28px;">
    <section>
        <div class="well1">
            <div class="container">
                <?php 
                    $user = $this->Session->read('USUARIO_USER');
                 ?>
                <?php 
                //if ( $user != '' ): 
                ?>
                 <style type="text/css">
                     .entrada{
                        padding-left: 20px;
                        padding-right: 20px;
                     }
                 </style>   
                 <style type="text/css">
                     .border{
                         border-radius: 0px 0px 0px 0px;
                         -moz-border-radius: 0px 0px 0px 0px;
                         -webkit-border-radius: 0px 0px 0px 0px;
                         border: 1px solid #01B9AF;

                         padding-top: 15px;
                         padding-bottom: 15px;

                         height: 720px;

                         text-align: justify;
                     }

                     .h5_back{
                         background: #01B9AF;
                         padding: 2px;
                         color:white;
                     }
                 </style>
                 <?php 
                   // pr($blog);  

                  ?>
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-12 wow fadeInLeft" >
                                <div class="entrada" style="padding-right: 20px; padding-left: 20px;margin-bottom: 50px;">
                                <h5 class="h5_back">Entradas</h5>
                                <?
                                    foreach ($blogentrada as $blogs) {
                                    
                                      if(isset($blogs["Blogentrada"]["carpeta_imagen"])){
                                         $img = $blogs["Blogentrada"]["ruta_imagen"];
                                      }
                                      echo "<div class ='' style='padding-left:10px;'>";
                                                echo "<div class='row ' style='height:25%;margin-left:-9px;margin-right:0px;'>";
                                                echo "<div class='col-md-4'>";

                                                echo "<img width='290' height='290' src='/img/".$img."'>";
                                                       
                                                echo "</div>";
                                                echo "<div class='col-md-8'>";
                                                    echo $blogs['Blogentrada']['titulo'].'<br>';  

                                                    echo substr($blogs['Blogentrada']['contenido'], 0,200).'...<br>';
                                                    echo '<a onclick="myModal'.$blogs['Blogentrada']['id'].'()" style="cursor:pointer;"><b>Leer mas...</b></a>';

                                                echo "</div>";
                                                echo "</div>";
                                      echo "</div><br>";
                                      echo "<script>";                              
                                      echo "function myModal".$blogs['Blogentrada']['id']."(){
                                            $('#myModal".$blogs['Blogentrada']['id']."').modal('show');
                                      }";
                                      echo "</script>";                              
                                      echo '<div id="myModal'.$blogs['Blogentrada']['id'].'" class="modal fade" role="dialog">
                                                <div class="modal-dialog">    
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h6 class="modal-title">'.$blogs['Blogentrada']['titulo'].'</h6>
                                                        </div>
                                                <div class="modal-body"> 
                                                       '.$blogs['Blogentrada']['contenido'].' 
                                                </div>         
                  
                                            </div>
                                            </div>
                                            </div>'     ;
                                    }
                                 ?>
                                <div class="paging pull-right">
                                <?php
                                    echo $this->Paginator->prev('< ' . __('Anterior'), array(), null, array('class' => 'btn btn-primary'));
                                    echo $this->Paginator->numbers(array('separator' => ''));
                                    echo $this->Paginator->next(__('Siguiente') . ' >', array(), null, array('class' => 'btn btn-primary'));
                                ?>
                                </div>
                            </div> 
                            </div> 
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInRight border" >
                                <h5 class="h5_back">Nuestros Servicios</h5>
                                <?php 
                                    foreach ($servicio as $servicios) {
                                        echo   '<div class="accordion left767 ui-accordion ui-widget ui-helper-reset" role="tablist">
                                            <div class="accordion_header ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-1-header-0" aria-controls="ui-accordion-1-panel-0" aria-selected="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>';

                                        echo "<h6>".$servicios['Servicio']['titulo']."</h6>"; 
                                        echo "</div>";
                                        echo '<div class="accordion_cnt ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-accordion-1-panel-0" aria-labelledby="ui-accordion-1-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true">';
                                        echo "<p>".$servicios['Servicio']['denominacion']."</p>"; 
                                        echo "</div>";                                   
                                        echo "</div>";                                   
                                    }
                                 ?>
                                 <br>
                                <!-- <a class="btn btn-sm" href="#">Ver Todos Los Servicios</a> -->
                                
                                <!-- <a class="btn btn-sm" href="#">Ver Todos Los Servicios</a> -->
                            </div>  
                        </div>                
            </div>
        </div>
    </section>
</main>
    