<div class="panel">
	<div class="panel-heading">
	<h2><?php echo __('Slider'); ?></h2>		
	</div>
<div class="panel panel-body">
<h2><?php echo __('Slider'); ?></h2>
	<table class="table table-striped">
	<tbody>
		<tr><td><?php echo __('Imagen'); ?></td></tr>
            <tr><td>
                <?php
                        if(isset($slider["Slider"]["carpeta_imagen"])){
                           $img = $slider["Slider"]["ruta_imagen"];
                        }else{

                        }
                        echo $this->Html->image($img, array('alt' => 'Imagen', 'class'=>'img-thumbnail', 'style'=>'border: 0;'));
                    ?>
                &nbsp;
            </td><tr>
		<tr><td><?php echo __('Contenido'); ?></td>
		<td>
			<?php echo h($slider['Slider']['contenido']); ?>
			&nbsp;
		</td></tr>

	
	</tbody>
	</table>
</div>

</div>