<div class="row"><div class="col-lg-12">		<h3 class="page-header"><i class="fa fa-th"></i>Contacto<? echo '</h3>' ?>
		
		<ol class="breadcrumb">		<li><i class="fa fa-home"></i><a href=""> Home</a></li>		<li><i class="fa fa-th"></i> <a href="/Contactos">Volver a Contactos</a> </li>              
		</ol>		</div>	    </div>

<div class="row">
		     <div class="col-sm-12">
	  		   <section class="panel" style="padding: 10px;">

<div class="contactos form">
<?php echo $this->Form->create('Contacto'); ?>
	<fieldset>
		<legend><?php echo __('Agregar Contacto'); ?></legend>
<div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('nombres', array('label'=>'nombres','class'=>'form-control')); ?> 
 </div></div><div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('email', array('label'=>'email','class'=>'form-control')); ?> 
 </div></div><div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('asunto', array('label'=>'asunto','class'=>'form-control')); ?> 
 </div></div><div class='row'><div class='col-sm-12'>		<?php echo $this->Form->input('mensaje', array('label'=>'mensaje','class'=>'form-control')); ?> 
 </div></div>	</fieldset>

	<div class="pull-right">		
		<?php echo $this->Form->submit(__('Submit', true), array('label'=>false, 'class'=>'btn btn-primary'));?>
		<?php echo $this->Form->end(__('')); ?>
	</div>

</div>

</section>
</div>
</div>
